/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args = "--quiet"
        }
        'trimgalore' {
            args            = '--fastqc'
            publish_files   = ['txt':'', 'html':'fastqc', 'zip':'fastqc']
        }
        'multiqc' {
            args = ""
        }
        'fetch_ncbi' {
            args = ""
            publish_dir     = 'NCBI-fetch'
            publish_files   = ['txt':'']
        }
        'prodigal' {
            args = '-p single -c -m'
            suffix = '.prodigal'
        }
        'bbduk' {
            args = "pigz=t"
        }
        'bbmap_index' {
            args = "trimreaddescriptions=t pigz=t"
        }
        'bbmap_align' {
            args = "trimreaddescriptions=t pigz=t"
        }
        'samtools_sort_genomes' {
            suffix          = '.sorted'
            publish_files   = [:]
            publish_dir     = "bbmap"
        }
        'samtools_index_genomes' {
            args            = ''
            suffix          = '.sorted'
            publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = "bbmap"
        }
        'collect_featurecounts' {
            publish_dir = 'final_tables'
        }
        'collect_gene_info' {
            publish_dir = 'final_tables'
        }
        'collect_stats' {
            publish_dir = 'final_tables'
        }
        'subread_featurecounts_cds' {
            args = "-g ID -t CDS -F gtf"
            publish_dir = "feature_counts"
            suffix = '.CDS'
        }
        'subread_featurecounts_rrna' {
            args = "-g ID -t rRNA -F gtf"
            publish_dir = "feature_counts"
            suffix = '.rRNA'
        }
        'subread_featurecounts_trna' {
            args = "-g ID -t tRNA -F gtf"
            publish_dir = "feature_counts"
            suffix = '.tRNA'
        }
        'subread_featurecounts_tmrna' {
            args = "-g ID -t tmRNA -F gtf"
            publish_dir = "feature_counts"
            suffix = '.tmRNA'
        }
        'collect_featurecounts_cds' {
            publish_dir = "final_tables"
            suffix = '.CDS'
        }
        'collect_featurecounts_rrna' {
            publish_dir = "final_tables"
            suffix = '.rRNA'
        }
        'collect_featurecounts_trna' {
            publish_dir = "final_tables"
            suffix = '.tRNA'
        }
        'collect_featurecounts_tmrna' {
            publish_dir = "final_tables"
            suffix = '.tmRNA'
        }
    }
}
